@using GenericFW.Areas.Yonetim.GenericVM
@using GenericFW.DataAccessLayer;
@using System.Linq;
@model TemplateItemModel
@{
    var col = Model.CurrentColumn;
    var displayAttr = col.Display;
    var prop = col.Property;
    var modelData = Model.Model.Data[prop.Name];

    var pkt = col.PrimaryTable;
    var result = Tools.Select<ListItem>
                                                                            (
    $"select {pkt.DisplayColumn.DisplayColumn} [Text], {pkt.PrimaryColumn.Name} [Id] from {pkt.ActualTableName}"
    );

    var sval = Model.Model.Data[prop.Name];

    var items = result.Select(k => new SelectListItem
    {
        Selected = k.Id.Equals(sval),
        Text = k.Text,
        Value = k.Id.ToString(),
    });
    ViewData.TemplateInfo.HtmlFieldPrefix = "";
}

@if (Model.Mode == RenderMode.Readonly)
{
    <span>@modelData</span>
}
else if (col.Required)
{
    @Html.DropDownList(prop.Name, items, "-Seçiniz-", new Dictionary<string, object> {
    { "class", "span6 m-wrap popovers" }, { "required", "required" }, { "data-val", "true" },{"data-trigger","hover" },
       { "data-content","Lütfen "+@col.Display.Name  +" giriniz." }, {"data-original-title", col.Display.Name },
    { "placeholder", @col.Display.Name }, { "data-val-required", @col.Display.Name + " Alanı Zorunlu!" }
});
    <span class="col-sm-3 control-label text-danger" data-valmsg-for="@prop.Name" data-valmsg-replace="true"></span> 
}
else
{
    @Html.DropDownList(prop.Name, items, "-Seçiniz-", new Dictionary<string, object> {
           { "class" ,"span6 m-wrap popovers" },{"data-trigger","hover" },
       { "data-content","Lütfen "+@col.Display.Name  +" giriniz." }, {"data-original-title", col.Display.Name }
       });
}
