<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head runat="server">
    <title>GenericFW | @ViewBag.Title</title>
    <link href="~/Areas/Theme/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Theme/assets/css/metro.css" rel="stylesheet" />
    <link href="~/Areas/Theme/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Areas/Theme/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Areas/Theme/assets/css/style.css" rel="stylesheet" />
    <link href="~/Areas/Theme/assets/css/style_responsive.css" rel="stylesheet" />
    <link href="~/Areas/Theme/assets/css/style_blue.css" rel="stylesheet" id="style_color" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Theme/assets/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Theme/assets/uniform/css/uniform.default.css" />
    <link rel="shortcut icon" href="~/Areas/Theme/favicon.ico" />
    <link href="~/Areas/Theme/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Theme/assets/chosen-bootstrap/chosen/chosen.css" />
    <link rel="stylesheet" href="~/Areas/Theme/assets/data-tables/DT_bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Theme/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Theme/assets/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Theme/assets/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Theme/assets/bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="~/Areas/Theme/assets/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Theme/assets/bootstrap-daterangepicker/daterangepicker.css" />

    @*   Video Upload *@
    <link href="~/Areas/Theme/Scripts/AjaxUpload/fileuploader.css" rel="stylesheet" type="text/css" />
    <script src="~/Areas/Theme/Scripts/AjaxUpload/fileuploader.js" type="text/javascript"></script>
    <script src="~/Areas/Theme/Scripts/jquery-1.5.2.min.js" type="text/javascript"></script>
    <script src="~/Areas/Theme/SystemFiles/flowplayer/example/flowplayer-3.2.6.min.js" type="text/javascript"></script>
    @*   Video Upload *@
    <script src="~/Areas/Theme/assets/tinymce/tinymce.min.js"></script>

    <script>
        tinymce.init({
            selector: "textarea",
            height: 300,
            language: 'tr',
            plugins: [
              "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
              "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
              "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
            ],

            toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
            toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
            toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",

            menubar: false,
            toolbar_items_size: 'small',

            style_formats: [{
                title: 'Bold text',
                inline: 'b'
            }, {
                title: 'Red text',
                inline: 'span',
                styles: {
                    color: '#ff0000'
                }
            }, {
                title: 'Red header',
                block: 'h1',
                styles: {
                    color: '#ff0000'
                }
            }, {
                title: 'Example 1',
                inline: 'span',
                classes: 'example1'
            }, {
                title: 'Example 2',
                inline: 'span',
                classes: 'example2'
            }, {
                title: 'Table styles'
            }, {
                title: 'Table row 1',
                selector: 'tr',
                classes: 'tablerow1'
            }],

            templates: [{
                title: 'Test template 1',
                content: 'Test 1'
            }, {
                title: 'Test template 2',
                content: 'Test 2'
            }],
            content_css: [
              '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
              '//www.tinymce.com/css/codepen.min.css'
            ]

        });</script>
    <script type="text/javascript">
         /* <![CDATA[ */
         var PROGRESS_INTERVAL = 500;
         var PROGRESS_COLOR = '#000080';

         var _divFrame;
         var _divUploadMessage;
         var _divUploadProgress;
         var _ifrPhoto;

         var _loopCounter = 1;
         var _maxLoop = 10;
         var _photoUploadProgressTimer;

         function initPhotoUpload() {
             _divFrame = document.getElementById('divFrame');
             _divUploadMessage = document.getElementById('divUploadMessage');
             _divUploadProgress = document.getElementById('divUploadProgress');
             _ifrPhoto = document.getElementById('ifrPhoto');

             var btnUpload = _ifrPhoto.contentWindow.document.getElementById('btnUpload');

             btnUpload.onclick = function (event) {
                 var filPhoto = _ifrPhoto.contentWindow.document.getElementById('filPhoto');

                 //Baisic validation for Photo
                 _divUploadMessage.style.display = 'none';

                 if (filPhoto.value.length == 0) {
                     _divUploadMessage.innerHTML = '<span style=\"color:#ff0000\">Lütfen dosyanızı seçiniz.</span>';
                     _divUploadMessage.style.display = '';
                     filPhoto.focus();
                     return;
                 }

                 var regExp = /^(([a-zA-Z]:)|(\\{2}\w+)\$?)(\\(\w[\w].*))(.jpg|.JPG|.gif|.GIF|.png|.PNG|.bmp|.BMP)$/;

                 if (!regExp.test(filPhoto.value)) //Somehow the expression does not work in Opera
                 {
                     _divUploadMessage.innerHTML = '<span style=\"color:#ff0000\">Geçersiz dosya biçimi. Desteklenen dosya biçimleri jpg, gif, png ve bmp.</span>';
                     _divUploadMessage.style.display = '';
                     filPhoto.focus();
                     return;
                 }

                 beginPhotoUploadProgress();
                 _ifrPhoto.contentWindow.document.getElementById('photoUpload').submit();
                 _divFrame.style.display = 'none';
             }
         }

         function beginPhotoUploadProgress() {
             _divUploadProgress.style.display = '';
             clearPhotoUploadProgress();
             _photoUploadProgressTimer = setTimeout(updatePhotoUploadProgress, PROGRESS_INTERVAL);
         }

         function clearPhotoUploadProgress() {
             for (var i = 1; i <= _maxLoop; i++) {
                 document.getElementById('tdProgress' + i).style.backgroundColor = 'transparent';
             }

             document.getElementById('tdProgress1').style.backgroundColor = PROGRESS_COLOR;
             _loopCounter = 1;
         }

         function updatePhotoUploadProgress() {
             _loopCounter += 1;

             if (_loopCounter <= _maxLoop) {
                 document.getElementById('tdProgress' + _loopCounter).style.backgroundColor = PROGRESS_COLOR;
             }
             else {
                 clearPhotoUploadProgress();
             }

             if (_photoUploadProgressTimer) {
                 clearTimeout(_photoUploadProgressTimer);
             }

             _photoUploadProgressTimer = setTimeout(updatePhotoUploadProgress, PROGRESS_INTERVAL);
         }

         function photoUploadComplete(message, isError) {
             clearPhotoUploadProgress();

             if (_photoUploadProgressTimer) {
                 clearTimeout(_photoUploadProgressTimer);
             }

             _divUploadProgress.style.display = 'none';
             _divUploadMessage.style.display = 'none';
             _divFrame.style.display = '';

             if (message.length) {
                 var color = (isError) ? '#ff0000' : '#008000';

                 _divUploadMessage.innerHTML = '<span style=\"color:' + color + '\;font-weight:bold">' + message + '</span>';
                 _divUploadMessage.style.display = '';

                 if (isError) {
                     _ifrPhoto.contentWindow.document.getElementById('filPhoto').focus();
                 }
             }
         }
         /* ]]> */
    </script>
    @RenderSection("head", false)
</head>
<body class="fixed-top">    
        <div>
            <asp:ContentPlaceHolder id="ContentTopPlaceHolder" runat="server">
                <!-- BEGIN HEADER -->
                <div class="header navbar navbar-inverse navbar-fixed-top">
                    <!-- BEGIN TOP NAVIGATION BAR -->
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <!-- BEGIN LOGO -->
                            <a class="brand" href="@Url.Action("List","User")">
                                <img src="~/Areas/Theme/assets/img/logo.png" alt="logo" width="147" height="20" />
                            </a>
                            <!-- END LOGO -->
                            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                                @*<img src="~/Areas/Theme/assets/img/menu-toggler.png" alt="" />*@
                                <i class="icon-reorder"></i> 
                            </a>
                            <!-- END RESPONSIVE MENU TOGGLER -->
                            <!-- BEGIN TOP NAVIGATION MENU -->
                            <ul class="nav pull-right">
                                <!-- BEGIN INBOX DROPDOWN -->

                                <li class="dropdown" id="header_notification_bar">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-warning-sign"></i>
                                        <span class="badge">5</span>
                                    </a>
                                    <ul class="dropdown-menu extended notification">
                                        <li>
                                            <p>Toplam <asp:Label ID="lblTotalWarning" runat="server" Text=""></asp:Label> uyarınız var</p>
                                        </li>
                                        <asp:Panel ID="pnlSysUserMessage" runat="server">
                                            <li>
                                                <a href="@Url.Action("List","SystemUserMessages")">
                                                    <span class="label label-important"><i class="icon-envelope"></i></span>
                                                    Sistem kullanıcılarından <span class="time"><asp:Label ID="lblSysUserMessageCount" runat="server" Text=""></asp:Label></span> okunmamış mesajın var.
                                                </a>
                                            </li>
                                        </asp:Panel>
                                        <asp:Panel ID="pnlSiteUserMessage" runat="server">
                                            <li>
                                                <a href="@Url.Action("List","SiteUserMessage")">
                                                    <span class="label label-important"><i class="icon-envelope"></i></span>
                                                    Siteden gelen <span class="time"><asp:Label ID="lblSiteUserMessageCount" runat="server" Text=""></asp:Label></span> okunmamış mesaj var.
                                                </a>
                                            </li>
                                        </asp:Panel>
                                        <asp:Panel ID="pnlEvents" runat="server">
                                            <li>
                                                <a href="@Url.Action("List","Events")">
                                                    <span class="label label-warning"><i class="icon-bell"></i></span>
                                                    Bugün <span class="time"><asp:Label ID="lblTodayEvents" runat="server" Text=""></asp:Label></span> etkinlik bulunmaktadır.
                                                </a>
                                            </li>
                                        </asp:Panel>
                                        <asp:Panel ID="pnlNewsComment" runat="server">
                                            <li>
                                                <a href="@Url.Action("List","NewsPendingComments")">
                                                    <span class="label label-success"><i class="icon-comment"></i></span>
                                                    Haberlere gelen <span class="time"><asp:Label ID="lblNewsComment" runat="server" Text=""></asp:Label></span> onay bekleyen yorum var.
                                                </a>
                                            </li>
                                        </asp:Panel>
                                        <asp:Panel ID="pnlBlogComment" runat="server">
                                            <li>
                                                <a href="@Url.Action("List","BlogPendingComments")">
                                                    <span class="label label-success"><i class="icon-comment"></i></span>
                                                    Makalelere gelen <span class="time"><asp:Label ID="lblBlogComment" runat="server" Text=""></asp:Label></span> onay bekleyen yorum var.
                                                </a>
                                            </li>
                                        </asp:Panel>
                                        <asp:Panel ID="pnlVideoComment" runat="server">
                                            <li>
                                                <a href="@Url.Action("List","VideoPendingComments")">
                                                    <span class="label label-success"><i class="icon-comment"></i></span>
                                                    Videolara gelen <span class="time"><asp:Label ID="lblVideoComment" runat="server" Text=""></asp:Label></span> onay bekleyen yorum var.
                                                </a>
                                            </li>
                                        </asp:Panel>
                                        <asp:Panel ID="pnlPhoneFalse" runat="server">
                                            <li>
                                                <a href="@Url.Action("List","PhoneList")">
                                                    <span class="label label-info"><i class="icon-phone"></i></span>
                                                    Site kullanıcılarından <span class="time"><asp:Label ID="lblFalsePhone" runat="server" Text=""></asp:Label></span> telefon araması bekleyen numara var.
                                                </a>
                                            </li>
                                        </asp:Panel>
                                        <asp:Panel ID="pnlMailFalse" runat="server">
                                            <li>
                                                <a href="@Url.Action("List","MailList")">
                                                    <span class="label label-info"><i class="icon-envelope"></i></span>
                                                    Site kullanıcılarından <span class="time"><asp:Label ID="lblFalseMail" runat="server" Text=""></asp:Label></span> email listenize kayıt var.
                                                </a>
                                            </li>
                                        </asp:Panel>
                                    </ul>
                                </li>

                                <li class="dropdown" id="header_inbox_bar">

                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-envelope-alt"></i><span class="badge">7</span> </a>

                                    <ul class="dropdown-menu extended inbox">
                                        <li>
                                            <p>
                                                Toplam <asp:Label ID="lblTotalUnreadedSiteMessage" runat="server" Text=""></asp:Label> okunmamış mesaj
                                            </p>
                                        </li>
                                        <asp:UpdatePanel ID="UpdatePanel2" runat="server">
                                            <ContentTemplate>
                                                <asp:ListView ID="ListAllSiteMessage" runat="server" DataSourceID="SqlSourceAllSiteMessage" DataKeyNames="MsgID" OnPagePropertiesChanging="ListAllSysUserMessage_PagePropertiesChanging">
                                                    <ItemTemplate>
                                                        <li>
                                                            <asp:HyperLink ID="HyperLink4"
                                                                           runat="server"
                                                                           NavigateUrl='<%#"SiteMessageDetail.aspx?MessageGuid="+Eval("rowguid")%>'>
                                                                <span class="photo">
                                                                    <img ID="imgPic"  ImageUrl="~/Areas/Theme/SystemFiles/DefaultImages/commentuser.png" width="45" height="45" alt="" />
                                                                </span> <span class="subject">
                                                                    <span class="from"><%# Eval("NameSurname")%></span>
                                                                    <span class="time"><%# Eval("Subject")%></span>
                                                                    <br />
                                                                    <%# Eval("ModifiedDate")%>
                                                                </span><br />
                                                                <span class="message"><%# Eval("Message")%>...</span>
                                                            </asp:HyperLink>
                                                        </li>
                                                    </ItemTemplate>
                                                </asp:ListView>
                                                <asp:DataPager ID="dPagerSiteUserMessage" runat="server"
                                                               PagedControlID="ListAllSiteMessage"
                                                               PageSize="4">
                                                    <Fields>
                                                        <asp:NumericPagerField CurrentPageLabelCssClass="current"
                                                                               NextPreviousButtonCssClass="nextpostslink"
                                                                               ButtonType="Link" />
                                                    </Fields>
                                                </asp:DataPager>
                                                <asp:SqlDataSource ID="SqlSourceAllSiteMessage" runat="server"
                                                                   ProviderName="System.Data.SqlClient"
                                                                   ConnectionString="<%$ ConnectionStrings:EBAdminPlusConnectionString %>"
                                                                   SelectCommand="Select [MsgID]
      ,[NameSurname]
      ,[Tel]
      ,[Email]
      ,[Subject]
      ,LEFT(Message,65) as Message
      ,[Status]
      ,[rowguid]
      ,[ModifiedDate]
  FROM [SiteUserMessage] Where Status = 0 order by ModifiedDate desc">
                                                </asp:SqlDataSource>
                                            </ContentTemplate>
                                        </asp:UpdatePanel>
                                        <li class="external">
                                            <a href="SiteUserMessage.aspx">Tüm mesajları gör <i class="m-icon-swapright"></i></a>
                                        </li>

                                    </ul>
                                </li>
                                <!-- END INBOX DROPDOWN -->
                                <!-- BEGIN INBOX DROPDOWN -->
                                <li class="dropdown" id="header_inbox_bar">

                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-envelope-alt"></i><span class="badge">16</span> </a>

                                    <ul class="dropdown-menu extended inbox">
                                        <li>
                                            <p>
                                                Toplam <asp:Label ID="lblTotalUnreadedMessage" runat="server" Text=""></asp:Label> okunmamış mesaj
                                            </p>
                                        </li>
                                        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                                            <ContentTemplate>
                                                <asp:ListView ID="ListAllSysUserMessage" runat="server" DataSourceID="SqlSourceAllSysUserMessage" DataKeyNames="MsgID" OnPagePropertiesChanging="ListAllSysUserMessage_PagePropertiesChanging">
                                                    <ItemTemplate>
                                                        <li>
                                                            <asp:HyperLink ID="HyperLink4"
                                                                           runat="server"
                                                                           NavigateUrl='<%#"SystemUserMessageDetail.aspx?MessageGuid="+Eval("rowguid")%>'>
                                                                <span class="photo">
                                                                    <asp:Image ID="imgPic" runat="server" ImageUrl='<%# GetImageUrl(Container.DataItem) %>' width="45" height="45" alt="" />
                                                                </span> <span class="subject">
                                                                    <span class="from"><%# GetUserNameSurname(Container.DataItem) %></span>
                                                                    <br />
                                                                    <%# Eval("ModifiedDate")%>
                                                                </span><br />
                                                                <span class="message"><%# Eval("Subject")%></span>
                                                            </asp:HyperLink>
                                                        </li>
                                                    </ItemTemplate>
                                                </asp:ListView>
                                                <asp:DataPager ID="dPagerSysUserMessage" runat="server"
                                                               PagedControlID="ListAllSysUserMessage"
                                                               PageSize="4">
                                                    <Fields>
                                                        <asp:NumericPagerField CurrentPageLabelCssClass="current"
                                                                               NextPreviousButtonCssClass="nextpostslink"
                                                                               ButtonType="Link" />
                                                    </Fields>
                                                </asp:DataPager>
                                                <asp:SqlDataSource ID="SqlSourceAllSysUserMessage" runat="server"
                                                                   ProviderName="System.Data.SqlClient"
                                                                   ConnectionString="<%$ ConnectionStrings:EBAdminPlusConnectionString %>">
                                                </asp:SqlDataSource>
                                            </ContentTemplate>
                                        </asp:UpdatePanel>
                                        <li class="external">
                                            <a href="SystemUserMessages.aspx">Tüm mesajları gör <i class="m-icon-swapright"></i></a>
                                        </li>

                                    </ul>
                                </li>
                                <!-- END INBOX DROPDOWN -->
                                <!-- BEGIN USER LOGIN DROPDOWN -->
                                <li class="dropdown user">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img ID="imgProfilTop" src="~/Areas/Theme/SystemFiles/DefaultImages/commentuser.png" Height="29" Width="29" />
                                        <span class="username">
                                           Yönetici
                                        </span><i class="icon-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="Profile.aspx"><i class="icon-user"></i> Profilim
                                        <li><a href="LogOut.aspx"><i class="icon-key"></i> Çıkış</a></li>
                                    </ul>
                                </li>
                                <!-- END USER LOGIN DROPDOWN -->
                            </ul>
                            <!-- END TOP NAVIGATION MENU -->
                        </div>
                    </div>
                    <!-- END TOP NAVIGATION BAR -->
                </div>
                <!-- END HEADER -->
            </asp:ContentPlaceHolder>

            <asp:ContentPlaceHolder id="ContentLeftPlaceHolder" runat="server">
                <!-- BEGIN CONTAINER -->
                <div class="page-container row-fluid">
                    <!-- BEGIN SIDEBAR -->
                    <div class="page-sidebar nav-collapse collapse">
                        <!-- BEGIN SIDEBAR MENU -->
                        <br />
                        <ul>
                            <li class="start "><a href="@Url.Action("List","Role")"><i class="icon-home"></i><span class="title">Anasayfa</span> </a></li>
                            <li class=""><a href="@Url.Action("List","SiteDetail")"><i class="icon-book"></i><span class="title">Site Bilgileri</span> </a></li>
                            <li class="has-sub ">
                                <a href="javascript:;"><i class="icon-comments"></i><span class="title">Mesajlar</span> <span class="arrow"></span></a>
                                <ul class="sub">
                                    <li><a href="@Url.Action("List","SystemUserMessages")">Kurum İçi Mesajlar</a></li>
                                    <li><a href="@Url.Action("List","SiteUserMessage")">Siteden Gelen Mesajlar</a></li>
                                </ul>
                            </li>
                            <li class="has-sub ">
                                <a href="javascript:;"><i class="icon-rss"></i><span class="title">Haberler</span> <span class="arrow"></span></a>
                                <ul class="sub">
                                    <li><a href="@Url.Action("List","NewsCategory")">Kategoriler</a></li>
                                    <li><a href="@Url.Action("List","News")">Haberler</a></li>
                                    <li><a href="@Url.Action("List","NewsPendingComments")">Onay Bekleyen Yorumlar</a></li>
                                </ul>
                            </li>
                            <li class="has-sub ">
                                <a href="javascript:;"><i class="icon-edit"></i><span class="title">Makaleler</span> <span class="arrow "></span></a>
                                <ul class="sub">
                                    <li><a href="@Url.Action("List","BlogsCategory")">Kategoriler</a></li>
                                    <li><a href="@Url.Action("List","Blogs")">Makaleler</a></li>
                                    <li><a href="@Url.Action("List","BlogPendingComments")">Onay Bekleyen Yorumlar</a></li>
                                </ul>
                            </li>
                            <li class=""><a href="@Url.Action("List","Service")"><i class="icon-reorder"></i><span class="title">Hizmetler</span></a></li>
                            <li class=""><a href="@Url.Action("List","Campaign")"><i class="icon-star"></i><span class="title">Kampanyalar</span></a></li>

                            <li class=""><a href="@Url.Action("List","Events")"><i class="icon-calendar"></i><span class="title">Etkinlikler</span></a></li>

                            <li class="has-sub ">
                                <a href="javascript:;"><i class="icon-briefcase"></i><span class="title">Referanslar</span> <span class="arrow"></span></a>
                                <ul class="sub">
                                    <li><a href="@Url.Action("List","ReferanceCategory")">Kategoriler</a></li>
                                    <li><a href="@Url.Action("List","References")">Referanslar</a></li>
                                </ul>
                            </li>

                            <li class="has-sub ">
                                <a href="javascript:;"><i class="icon-globe"></i><span class="title">Projeler</span> <span class="arrow"></span></a>
                                <ul class="sub">
                                    <li><a href="@Url.Action("List","ProjectCategory")">Kategoriler</a></li>
                                    <li><a href="@Url.Action("List","Projects")">Projeler</a></li>
                                </ul>
                            </li>

                            <li class="has-sub ">
                                <a href="javascript:;"><i class="icon-eye-open"></i><span class="title">Ürünler</span> <span class="arrow"></span></a>
                                <ul class="sub">
                                    <li><a href="@Url.Action("List","ProductsCategory")">Kategoriler</a></li>
                                    <li><a href="@Url.Action("List","Products")">Ürünler</a></li>
                                </ul>
                            </li>

                            <li class="has-sub ">
                                <a href="javascript:;"><i class="icon-facetime-video"></i><span class="title">Videolar</span> <span class="arrow"></span></a>
                                <ul class="sub">
                                    <li><a href="@Url.Action("List","VideoCategory")">Kategoriler</a></li>
                                    <li><a href="@Url.Action("List","Videos")">Videolar</a></li>
                                    <li><a href="@Url.Action("List","VideoPendingComments")">Onay Bekleyen Yorumlar</a></li>
                                </ul>
                            </li>
                            <li class="has-sub ">
                                <a href="javascript:;"><i class="icon-camera"></i><span class="title">Resimler</span> <span class="arrow"></span></a>
                                <ul class="sub">
                                    <li><a href="@Url.Action("List","FotoAlbums")">Albümler</a></li>
                                    <li><a href="@Url.Action("List","SlideImage")">Anasayfa Slide Resimleri</a></li>
                                </ul>
                            </li>
                            <li class="has-sub ">
                                <a href="javascript:;"><i class="icon-envelope"></i><span class="title">Email Listeleri</span> <span class="arrow"></span></a>
                                <ul class="sub">
                                    <li><a href="@Url.Action("List","MailGroup")">Gruplar</a></li>
                                    <li><a href="@Url.Action("List","MailList")">Email Hesapları</a></li>
                                    <li><a href="@Url.Action("List","SendEmail")">Tekli Mail Gönder</a></li>
                                    <li><a href="@Url.Action("List","SendCollectiveMail")">Toplu Mail Gönder</a></li>
                                </ul>
                            </li>
                            <li class="has-sub ">
                                <a href="javascript:;"><i class="icon-phone"></i><span class="title">Telefon Listeleri</span> <span class="arrow"></span></a>
                                <ul class="sub">
                                    <li><a href="@Url.Action("List","SendCollectiveMailPhoneGroups")">Gruplar</a></li>
                                    <li><a href="@Url.Action("List","SendCollectiveMailPhoneList")">Telefonlar</a></li>
                                    <li><a href="@Url.Action("List","SendCollectiveMailSendSMS")">Tekli SMS Gönder</a></li>
                                    <li><a href="@Url.Action("List","SendCollectiveMailSendCollectiveSMS")">Toplu SMS Gönder</a></li>
                                </ul>
                            </li>
                            <li class=""><a href="@Url.Action("List","Clients")"><i class="icon-leaf"></i><span class="title">Çözüm Ortakları</span> </a></li>
                            <li class="has-sub ">
                                <a href="javascript:;"><i class="icon-download"></i><span class="title">Dosya Merkezi</span> <span class="arrow"></span></a>
                                <ul class="sub">
                                    <li><a href="@Url.Action("List","FileCategory")">Kategoriler</a></li>
                                    <li><a href="@Url.Action("List","Files")">Dosyalar</a></li>
                                </ul>
                            </li>
                            <li class=""><a href="@Url.Action("List","FAQCategory")"><i class="icon-question-sign"></i><span class="title">Sıkça Sorulan Sorular</span></a></li>
                            <li class="has-sub ">
                                <a href="javascript:;"><i class="icon-bar-chart"></i><span class="title">İstatistik & LOG</span> <span class="arrow"></span></a>
                                <ul class="sub">
                                    <li><a href="@Url.Action("List","Statistics")">Genel İstatistikler</a></li>
                                    <li><a href="@Url.Action("List","Visitors")">Ziyaretçi İstatistikleri</a></li>
                                    <li><a href="@Url.Action("List","SystemLogs")">Log (İşlem Geçmişleri)</a></li>
                                </ul>
                            </li>
                            <li class="has-sub ">
                                <a href="javascript:;"><i class="icon-group"></i><span class="title">Sistem Kullanıcıları</span> <span class="arrow "></span></a>
                                <ul class="sub">
                                    <li><a href="@Url.Action("List","Departments")">Departmanlar</a></li>
                                    <li><a href="@Url.Action("List","Users")">Sistem Kullanıcıları</a></li>
                                    <li><a href="@Url.Action("List","DeletedUsers")">Silinen Kullanıcılar</a></li>
                                </ul>
                            </li>
                            <li class="has-sub ">
                                <a href="javascript:;"><i class="icon-wrench"></i><span class="title">Ayarlar</span> <span class="arrow "></span></a>
                                <ul class="sub">
                                    <li><a href="@Url.Action("List","SiteSetting")">Site Ayarları</a></li>
                                    <li><a href="@Url.Action("List","BanList")">Yasaklı IP Listesi</a></li>
                                    <li><a href="@Url.Action("List","SMTPSetting")">SMTP Mail Ayarları</a></li>
                                    <li><a href="@Url.Action("List","SMSSetting")">SMS Ayarları</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- END SIDEBAR MENU -->
                    </div>
                    <!-- END SIDEBAR -->
                </div>
               
                <!-- BEGIN PAGE -->
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE HEADER-->
                        <div class="row-fluid">
                            <div class="span12">

                                <!-- BEGIN PAGE TITLE & BREADCRUMB-->                                
                                @*<ul class="breadcrumb">
                                    <li><i class="icon-home"></i><a href="index.html">Home</a> <i class="icon-angle-right"></i></li>
                                    <li><a href="#">UI Features</a> <i class="icon-angle-right"></i></li>
                                    <li><a href="#">General</a></li>
                                </ul>*@
                                <!-- END PAGE TITLE & BREADCRUMB-->
                            </div>
                        </div>
                        <!-- END PAGE HEADER-->
                        <!-- BEGIN PAGE CONTENT-->
                        <div class="row-fluid">
                            <div class="span12">
                                @RenderBody()
                            </div>
                        </div>
                        <!-- END PAGE CONTENT-->
                    </div>
                    <!-- END PAGE CONTAINER-->
                </div>
                <!-- BEGIN PAGE -->
           

                <!-- END CONTAINER -->
                <!-- BEGIN FOOTER -->
                <div class="footer">
                    <br /> 
                    <span style="color:whitesmoke">2017 - @DateTime.Now.Year &copy; GenericFW Asp.Net MVC İçerik Yönetim Sistemi Ver 1.0</span>
                    <div class="span pull-right">
                        <span class="go-top"><i class="icon-angle-up"></i></span>
                    </div>
                </div>
                <!-- END FOOTER -->
                <!-- BEGIN JAVASCRIPTS -->
                <!-- Load javascripts at bottom, this will reduce page load time -->
                @RenderSection("scriptsTop", false)
                <script src="~/Areas/Theme/assets/js/jquery-1.8.3.min.js"></script>               
                <script src="~/Areas/Theme/assets/breakpoints/breakpoints.js"></script>
                <script src="~/Areas/Theme/assets/bootstrap/js/bootstrap.min.js"></script>
                <script src="~/Areas/Theme/assets/js/jquery.blockui.js"></script>
                <script src="~/Areas/Theme/assets/js/jquery.cookie.js"></script>
                <script src="~/Areas/Theme/assets/fancybox/source/jquery.fancybox.pack.js"></script>
                <script src="~/Areas/Theme/assets/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
                <!-- ie8 fixes -->
                <!--[if lt IE 9]>
                <script src="assets/js/excanvas.js"></script>
                <script src="assets/js/respond.js"></script>
                <![endif]-->
                <script type="text/javascript" src="~/Areas/Theme/assets/uniform/jquery.uniform.min.js"></script>
                <script type="text/javascript" src="~/Areas/Theme/assets/chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
                <script type="text/javascript" src="~/Areas/Theme/assets/gritter/js/jquery.gritter.js"></script>
                <script type="text/javascript" src="~/Areas/Theme/assets/js/jquery.pulsate.min.js"></script>
                <script src="~/Areas/Theme/assets/js/app.js"></script>
                <script type="text/javascript" src="~/Areas/Theme/assets/data-tables/jquery.dataTables.js"></script>
                <script type="text/javascript" src="~/Areas/Theme/assets/data-tables/DT_bootstrap.js"></script>
                <script type="text/javascript" src="~/Areas/Theme/assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
                <script type="text/javascript" src="~/Areas/Theme/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
                <script type="text/javascript" src="~/Areas/Theme/assets/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js"></script>
                <script type="text/javascript" src="~/Areas/Theme/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
                <script type="text/javascript" src="~/Areas/Theme/assets/bootstrap-daterangepicker/date.js"></script>
                <script type="text/javascript" src="~/Areas/Theme/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
                <script type="text/javascript" src="~/Areas/Theme/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
                <script type="text/javascript" src="~/Areas/Theme/assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
                <script src="~/Areas/Theme/assets/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
                <script src="~/Areas/Theme/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
                <script src="~/Areas/Theme/assets/flot/jquery.flot.js"></script>
                <script src="~/Areas/Theme/assets/flot/jquery.flot.resize.js"></script>      
                    
                <script>
                jQuery(document).ready(function () {
                    // initiate layout and plugins
                    App.setPage("table_managed");
                    App.init();
                });
                </script>
                <!-- END JAVASCRIPTS -->
            </asp:ContentPlaceHolder>
        </div>
   
    @RenderSection("scripts", false)
</body>
</html>