@{
    ViewBag.Title = @Model.Meta.Caption.DisplayName + " Kayıt Sil";
}

@using GenericFW.Areas.Yonetim.GenericVM;
@using CMS.Common
@model GenericVM

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box red" id="form_wizard_1">
            <div class="portlet-title">
                <h4>
                    <i class="icon-trash"></i> @Model.Meta.Caption.DisplayName Kayıt Silme
                </h4>
            </div>
            <div class="portlet-body form">
                <div class="form-wizard">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            @using (@Html.BeginForm())
                            {
                                @Html.ValidationSummary(true)
                                <div class="form-horizontal">
                                    @foreach (var column in Model.Meta.Columns)
                                    {
                                        var displayAttr = column.Display;
                                        var col = column.Property;
                                        if (displayAttr == null)
                                        {
                                            <input type="hidden" name="@col.Name" value="@Model.Data[col.Name]" />
                                            continue;
                                        }
                                        <div class="control-group">
                                            <label class="control-label">@displayAttr.Name</label>
                                            <div class="controls">
                                                @{
                                                    var tim = new TemplateItemModel { Model = Model, CurrentColumn = column, Mode = RenderMode.Readonly };
                                                    var templateName = column.Template ?? column.InnerType.Name;
                                                }
                                                @Html.EditorFor(m => tim, templateName, new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" })

                                                <span class="help-block">
                                                    @Html.Raw(displayAttr.Description)
                                                </span>
                                            </div>
                                        </div>

                                     }
                                    <div class="modal hide fade in" id="confirm-close-modal" role="dialog" aria-labelledby="confirm-close-modal-label" aria-hidden="true">


                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                            <h4 class="modal-title" id="confirm-close-modal-label"><strong>Kayıt Silinecek!!!</strong></h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Bu Kaydı Silmek İstediğinize Emin misiniz ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" id="deleteButton" name="deleteButton" class="btn red btn-default" data-dismiss="modal"
                                                    onclick="$('form').submit()"><i class="icon-trash m-icon-white"></i> Sil</button>
                                            <button type="button" class="btn blue btn-danger" onclick="location.href='@Url.Action("List",Model.Meta.ControllerName)'"><i class="icon-remove m-icon-white"></i> Kapat</button>
                                        </div>

                                    </div>

                                </div>
                             }

                            <div>

                                <div class="form-actions clearfix">
                                    <button class="btn red btn-danger" data-toggle="modal" data-target="#confirm-close-modal" data-backdrop="modal-backdrop fade in">
                                        <i class="icon-trash m-icon-white"></i> Sil
                                    </button>
                                    <button type="button" class="btn yellow btn-default" value="İptal" onclick="location.href='@Url.Action("List",Model.Meta.ControllerName)'"><i class="icon-share m-icon-white"></i> İptal</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptsTop{
    <!--Kayıt Düzenle Modal Sonu-->
}
@section head{
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
}
@section scripts{
    @*<script src="//code.jquery.com/jquery-1.10.2.js"></script>*@
    @*<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@
    @*<script src="~/Content/jquery.validate.min.js"></script>*@
    @*<script src="~/Content/jquery.validate.unobtrusive.min.js"></script>*@
    @*<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/i18n/jquery-ui-i18n.min.js"></script>*@

    @*<script type="text/javascript">
            $(document).ready(function () {

                $.datepicker.setDefaults($.datepicker.regional['tr']);
                $("input[type=datetime]").datepicker({ dateFormat: 'dd.mm.yy' });

                $('form')
                .validate();

            });
        </script>*@
}
