
@{
    ViewBag.Title = @Model.Meta.Caption.DisplayName + " Kayıt Düzenle";
}


@using GenericFW.Areas.Yonetim.GenericVM;
@*@using CMS.Common*@
@model GenericVM

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box yellow" id="form_wizard_1">
            <div class="portlet-title">
                <h4>
                    <i class="icon-edit"></i> @Model.Meta.Caption.DisplayName Kayıt Düzenle
                </h4>
            </div>
            <div class="portlet-body form">
                <div class="form-wizard">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            @using (@Html.BeginForm("Edit", Model.Meta.ControllerName, FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
                            {
                                @Html.ValidationSummary(true)
                                <div class="form-horizontal">
                                    @foreach (var column in Model.Meta.Columns)
                                    {
                                        var displayAttr = column.Display;
                                        var col = column.Property;
                                        if (displayAttr == null)
                                        {
                                            <input type="hidden" name="@col.Name" value="@Model.Data[col.Name]" />
                                            continue;
                                        }

                                        <div class="control-group">
                                            <label class="control-label">@displayAttr.Name</label>
                                            <div class="controls">
                                                @{
                                                    var tim = new TemplateItemModel { Model = Model, CurrentColumn = column, Mode = RenderMode.Edit };
                                                    var templateName = column.Template ?? column.InnerType.Name;
                                                }
                                                @Html.EditorFor(m => tim, templateName)

                                                <span class="help-block">
                                                    @Html.Raw(displayAttr.Description)
                                                </span>
                                            </div>
                                        </div>
                                     }

                                </div>
                                <div class="form-actions clearfix">
                                    <button type="button" id="sButton" name="sButton" styel="display:inline !important;" class="btn green button-submit" value="Kaydet"
                                            onclick="$('form').submit()"
                                            ><i class="icon-ok m-icon-white"></i> Kaydet</button>
                                    <button type="button" class="btn red btn-default" value="İptal" onclick="location.href='@Url.Action("List",Model.Meta.ControllerName)'"><i class="icon-share m-icon-white"></i> İptal</button>
                                </div>
                             }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scriptsTop{
    <!--Kayıt Düzenle Modal Sonu-->
}
@section head{
  
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
}
@section scripts{
    
@*<script src="//code.jquery.com/jquery-1.10.2.js"></script>*@

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Areas/Theme/assets/jquery.validate.min.js"></script>
    <script src="~/Areas/Theme/assets/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/i18n/jquery-ui-i18n.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.datepicker.setDefaults($.datepicker.regional['tr']);
            $("input[type=datetime]").datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'dd.mm.yy'
            });
            
        });
    </script>
}
